{% if is_granted(button.roles ?? ['IS_AUTHENTICATED_ANONYMOUSLY']) %}
    {% if route_granted(app.request.attributes.get('_route'), button.pages ?? []) %}
        {% spaceless %}
            {% set button = parse_button(button) %}

            {# WRAPPING ELEMENT WITH <SPAN> WHEN USING TOOLTIP AND TOGGLE TOGETHER #}
            {% if button.wrap is defined and button.wrap %}
                <span class="tango-wrapper"
                {% for key, value in button.wrap %}
                    data-{{ key }}="{{ value }}"
                {% endfor %}
                >
            {% endif %}

            <{{ button.tag }}

            {% if button.route is defined and button.route %}
                {# APPEND PARAMETERS TO QUERY STRING #}
                {% if button.parameters is defined and button.parameters %}
                    href="{{ path(button.route, app.request.attributes.get('_route_params')|merge(app.request.query.all|merge(button.parameters))) }}"
                {% else %}
                    href="{{ path(button.route, app.request.attributes.get('_route_params')|merge(app.request.query.all)) }}"
                {% endif %}
            {% endif %}

            {# APPEND TARGET #}
            {% if button.href is defined and button.href %}
                href="{{ button.href }}"
            {% endif %}

            {# APPEND ATTRIBUTES #}
            {% if button.attributes is defined and button.attributes %}
                {% for key, value in button.attributes %}
                    {{ key }}="{{ value }}"
                {% endfor %}
            {% endif %}

            {# STYLES #}
            class="{{ button.class ?? 'btn btn-primary' }}"

            {# APPEND DATA-ATTRIBUTES #}
            {% if button.data is defined and button.data %}
                {% for key, value in button.data %}
                    data-{{ key }}="{{ value }}"
                {% endfor %}
            {% endif %}

            {# DISABLED #}
            {% if button.disabled is defined and button.disabled %}
                disabled="disabled"
            {% endif %}

            role="button"
            >

            {# ICON #}
            {% if button.icon is defined and button.icon %}
                <span class="{{ button.icon }}" aria-hidden="true"></span>
            {% endif %}

            {# LABEL #}
            {% if button.label is defined and button.label %}
                {% if button.icon is defined and button.icon %}&nbsp;{% endif %}
                <span{% if button.icon is defined and button.icon %} class="hidden-xs"{% endif %}>{{ button.label|trans }}</span>
            {% endif %}

            {# BADGE #}
            {% if button.badge is defined and button.badge %}
                {% if button.label is defined and button.label or button.icon is defined and button.icon %}&nbsp;{% endif %}
                <span class="badge">{{ button.badge }}</span>
            {% endif %}

            </{{ button.tag }}>

            {% if button.wrap is defined and button.wrap %}
                </span>
            {% endif %}

        {% endspaceless %}
    {% endif %}
{% endif %}