{% if is_granted(button.roles ?? ['IS_AUTHENTICATED_ANONYMOUSLY']) %}
    {% if route_granted(app.request.attributes.get('_route'), button.pages ?? []) %}
        {% spaceless %}
            {% set button = parse_button(button) %}

            {# wrapping element with <span> when using tooltip and toggle together #}
            {% if button.wrap is defined and button.wrap %}
                <span class="tango-tooltip-wrapper"
                {% for key, value in button.wrap %}
                    data-{{ key }}="{{ value }}"
                {% endfor %}
                >
            {% endif %}

            <{{ button.tag }}

            {% if button.id is defined and button.id %}
                id="{{ button.id }}"
            {% endif %}

            {% if button.route is defined and button.route %}
                {# append parameters to query string #}
                {% if button.parameters is defined and button.parameters %}
                    href="{{ path(button.route, app.request.attributes.get('_route_params')|merge(app.request.query.all|merge(button.parameters))) }}"
                {% else %}
                    href="{{ path(button.route, app.request.attributes.get('_route_params')|merge(app.request.query.all)) }}"
                {% endif %}
            {% endif %}

            {# append target #}
            {% if button.href is defined and button.href %}
                href="{{ button.href }}"
            {% endif %}

            {# append attributes #}
            {% if button.attributes is defined and button.attributes %}
                {% for key, value in button.attributes %}
                    {{ key }}="{{ value }}"
                {% endfor %}
            {% endif %}

            {# styles #}
            class="{{ button.class ?? 'btn btn-primary' }}"

            {# append data-attributes #}
            {% if button.data is defined and button.data %}
                {% for key, value in button.data %}
                    data-{{ key }}="{{ value }}"
                {% endfor %}
            {% endif %}

            {# disabled #}
            {% if button.disabled is defined and button.disabled %}
                disabled="disabled"
            {% endif %}

            role="button"
            >

            {# icon #}
            {% if button.icon is defined and button.icon %}
                <span class="tango-button-icon {{ button.icon }}" aria-hidden="true"></span>
            {% endif %}

            {# label #}
            {% if button.label is defined and button.label %}
                <span class="tango-button-label">{{ button.label|trans }}</span>
            {% endif %}

            {# badge #}
            {% if button.badge is defined and button.badge %}
                <span class="tango-button-badge badge">{{ button.badge }}</span>
            {% endif %}

            </{{ button.tag }}>

            {% if button.wrap is defined and button.wrap %}
                </span>
            {% endif %}

        {% endspaceless %}
    {% endif %}
{% endif %}