{% if is_granted(input.roles ?? ['IS_AUTHENTICATED_ANONYMOUSLY']) %}
    {% if start_with(app.request.attributes.get('_route'), input.pages ?? []) %}
        <div class="checkbox">
            <label>
                <input type="checkbox"
                       name="{{ input.name }}"
                       id="input-{{ input.name }}"
                        {% if input.class is defined and input.class %} class="{{ input.class }}"{% endif %}
                        {% if input.autoSubmit is defined and input.autoSubmit %} onchange="this.form.submit()"{% endif %}
                        {% if input.disabled is defined and input.disabled %} disabled="disabled"{% endif %}
                       value="{{ app.request.get(input.name) }}"
                />
                {% if input.label is defined and input.label %}
                    {{ input.label|trans }}
                {% endif %}
            </label>
        </div>
    {% endif %}
{% endif %}