{% if is_granted(link.roles ?? ['IS_AUTHENTICATED_ANONYMOUSLY']) %}
    {% if route_granted(app.request.attributes.get('_route'), link.pages ?? []) %}
        {% spaceless %}
            {% set link = parse_button(link) %}

            {# wrapping element with <span> when using tooltip and toggle together #}
            {% if link.wrap is defined and link.wrap %}
                <span class="tango-tooltip-wrapper"
                {% for key, value in link.wrap %}
                    data-{{ key }}="{{ value }}"
                {% endfor %}
                >
            {% endif %}

            <a

            {% if link.id is defined and link.id %}
                id="{{ link.id }}"
            {% endif %}

            {% if link.route is defined and link.route %}
                {# append parameters to query string #}
                {% if link.parameters is defined and link.parameters %}
                    href="{{ path(link.route, app.request.attributes.get('_route_params')|merge(app.request.query.all|merge(link.parameters))) }}"
                {% else %}
                    href="{{ path(link.route, app.request.attributes.get('_route_params')|merge(app.request.query.all)) }}"
                {% endif %}
            {% elseif link.href is defined and link.href %}
                {# append target #}
                href="{{ link.href }}"
            {% else %}
                href="#"
            {% endif %}

            {# append attributes #}
            {% if link.attributes is defined and link.attributes %}
                {% for key, value in link.attributes %}
                    {{ key }}="{{ value }}"
                {% endfor %}
            {% endif %}

            {# styles #}
            {% if link.class is defined and link.class %}
                class="{{ link.class }}"
            {% endif %}

            {# append data-attributes #}
            {% if link.data is defined and link.data %}
                {% for key, value in link.data %}
                    data-{{ key }}="{{ value }}"
                {% endfor %}
            {% endif %}

            {# disabled #}
            {% if link.disabled is defined and link.disabled %}
                disabled="disabled"
            {% endif %}
            >

            {# icon #}
            {% if link.icon is defined and link.icon %}
                <span class="tango-link-icon {{ link.icon }}" aria-hidden="true"></span>
            {% endif %}

            {# label #}
            {% if link.label is defined and link.label %}
                <span class="tango-link-label">{{ link.label|trans }}</span>
            {% endif %}

            {# badge #}
            {% if link.badge is defined and link.badge %}
                <span class="tango-link-badge badge">{{ link.badge }}</span>
            {% endif %}

            </a>

            {% if link.wrap is defined and link.wrap %}
                </span>
            {% endif %}

        {% endspaceless %}
    {% endif %}
{% endif %}