{% spaceless %}
    <header role="banner">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {% if menu.icon is defined or menu.label is defined or menu.logo is defined %}
                        <a class="navbar-brand" href="{{ menu.route ? path(menu.route) : '#' }}">
                            {% if menu.logo is defined and menu.logo %}
                                <img src="{{ menu.logo }}" alt="{{ menu.label ?? 'Logo' }}">
                            {% endif %}
                            {% if menu.icon is defined and menu.icon %}
                                <span class="tango-link-icon {{ menu.icon }}" aria-hidden="true"></span>
                            {% endif %}
                            {% if menu.label is defined and menu.label %}
                                <span class="tango-link-label">{{ menu.label|trans }}</span>
                            {% endif %}
                        </a>
                    {% endif %}
                </div>
                <div class="collapse navbar-collapse">
                    {# user is authenticated #}
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        {% if is_granted(menu.roles ?? ['IS_AUTHENTICATED_ANONYMOUSLY']) %}
                            {% if route_granted(app.request.attributes.get('_route'), menu.pages ?? []) %}
                                <ul class="nav navbar-nav navbar-left">
                                    {% for item in menu.items %}
                                        {% if item.subMenu is defined %}
                                            {% if is_granted(item.subMenu.roles ?? ['IS_AUTHENTICATED_ANONYMOUSLY']) %}
                                                {% if route_granted(app.request.attributes.get('_route'), item.subMenu.page ?? []) %}
                                                    <li class="dropdown">
                                                        <a class="dropdown-toggle" data-toggle="dropdown"
                                                           role="button"
                                                           aria-haspopup="true" aria-expanded="false">
                                                            {% if item.subMenu.icon is defined and item.subMenu.icon %}
                                                                <span class="tango-link-icon {{ item.subMenu.icon }}"
                                                                      aria-hidden="true"></span>
                                                            {% endif %}
                                                            {% if item.subMenu.label is defined and item.subMenu.label %}
                                                                <span class="tango-link-label">{{ item.subMenu.label|trans }}</span>
                                                            {% endif %}
                                                            <span class="tango-caret caret"></span>
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            {% for subItem in item.subMenu.items %}
                                                                {% if is_granted(subItem.roles ?? ['IS_AUTHENTICATED_ANONYMOUSLY']) %}
                                                                    {% if route_granted(app.request.attributes.get('_route'), subItem.pages ?? []) %}
                                                                        {% if subItem.divider is defined and subItem.divider %}
                                                                            <li class="divider" role="separator"></li>
                                                                        {% elseif subItem.route is defined and subItem.route %}
                                                                            {% if subItem.active is defined %}
                                                                            <li{% if app.request.attributes.get('_route') starts with subItem.active %} class="active"{% endif %}>
                                                                            {% else %}
                                                                                <li>
                                                                            {% endif %}
                                                                            {% if subItem.route is defined and subItem.route %}
                                                                                {% include('@TangoManFront/link.html.twig') with { 'link': subItem } %}
                                                                            {% endif %}
                                                                            </li>
                                                                        {% else %}
                                                                            <li class="dropdown-header">
                                                                                {% if subItem.icon is defined and subItem.icon %}
                                                                                    <span class="tango-link-icon {{ subItem.icon }}"
                                                                                          aria-hidden="true"></span>
                                                                                {% endif %}
                                                                                {% if subItem.label is defined and subItem.label %}
                                                                                    <span class="tango-link-label">{{ subItem.label|trans }}</span>
                                                                                {% endif %}
                                                                            </li>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            {# user is not logged in #}
                                            {% if is_granted(item.roles ?? ['IS_AUTHENTICATED_ANONYMOUSLY']) %}
                                                {% if route_granted(app.request.attributes.get('_route'), item.pages ?? []) %}
                                                    {% if item.active is defined %}
                                                    <li{% if app.request.attributes.get('_route') starts with item.active %} class="active"{% endif %}>
                                                    {% else %}
                                                        <li>
                                                    {% endif %}
                                                    {% include('@TangoManFront/link.html.twig') with { 'link': item } %}
                                                    </li>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">
                                    <span class="tango-link-icon glyphicon glyphicon-user"></span>
                                    <span class="tango-link-label">{{ app.user.username }}</span>
                                    <span class="tango-caret caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ path('app_user_show', { 'slug': app.user.slug }) }}">
                                            <span class="tango-link-icon glyphicon glyphicon-user"></span>
                                            <span class="tango-link-label">{{ 'tango.show_my_profile'|trans }}</span>
                                        </a>
                                    </li>
                                    <li{% if app.request.attributes.get('_route') ends with 'app_user_edit' %} class="active"{% endif %}>
                                        <a href="{{ path('app_user_edit', { 'slug': app.user.slug }) }}">
                                            <span class="tango-link-icon glyphicon glyphicon-edit"></span>
                                            <span class="tango-link-label">{{ 'tango.edit_my_profile'|trans }}</span>
                                        </a>
                                    </li>
                                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                        <li class="active">
                                            <a href="{{ path('homepage', {'_switch_user': '_exit'}) }}">
                                                <span class="tango-link-icon glyphicon glyphicon-refresh"></span>
                                                <span class="tango-link-label">{{ 'tango.quit_impersonation'|trans }}</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ path('app_logout') }}">
                                            <span class="tango-link-icon glyphicon glyphicon-off"></span>
                                            <span class="tango-link-label">{{ 'tango.logout'|trans }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{{ path('app_security_register') }}">
                                    <span class="tango-link-icon glyphicon glyphicon-floppy-disk"></span>
                                    <span class="tango-link-label">{{ 'tango.register'|trans }}</span>
                                </a>
                            </li>
                            <li><a href="{{ path('app_login') }}">
                                    <span class="tango-link-icon glyphicon glyphicon-lock"></span>
                                    <span class="tango-link-label">{{ 'tango.login'|trans }}</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endspaceless %}
