<thead class="tango-thead"{% if thead.id is defined and thead.id %} id="{{ thead.id }}"{% endif %}>
<tr>
    {% for th in thead.ths %}
        {% if is_granted(th.roles ?? ['IS_AUTHENTICATED_ANONYMOUSLY']) %}
            {% if route_granted(app.request.attributes.get('_route'), th.pages ?? []) %}
                {% if th.route is defined and th.route %}
                    <th{% if th.colspan is defined and th.colspan %} colspan="{{ th.colspan }}"{% endif %}{% if app.request.query.get('order') %} class="{{ app.request.query.get('order') == th.name ? app.request.query.get('way', way) }}{% if th.class is defined and th.class %} {{ th.class }}{% endif %}" {% elseif th.class is defined and th.class %} class="{{ th.class }}"{% endif %}>
                        {% include '@TangoManFront/th-link.html.twig' %}
                    </th>
                {% else %}
                    <th{% if th.colspan is defined and th.colspan %} colspan="{{ th.colspan }}"{% endif %}{% if th.class is defined and th.class %} class="{{ th.class }}"{% endif %}>
                        {# icon #}
                        {% if th.icon is defined and th.icon %}
                            <span class="tango-th-icon {{ th.icon }}" aria-hidden="true"></span>
                        {% endif %}

                        {# label #}
                        {% if th.label is defined and th.label %}
                            <span class="tango-th-label">{{ th.label|trans }}</span>
                        {% endif %}

                        {# badge #}
                        {% if th.badge is defined and th.badge %}
                            <span class="tango-th-badge badge">{{ link.badge }}</span>
                        {% endif %}
                    </th>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
</tr>
</thead>